table,td{
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px;
}
.tab{
	display: none;
}
#right{
	font-size: 20px;
	color: green;
}
#wrong{
	color: red;
	font-size: 20px;
}
#continue{
	display: none;
}
#after_continue{
	display: none;
}
#new_types{
	display: none;
}
#sub_b{
	display: none;
}
#true{
	font-size: 20px;
	color: green;
}
#false{
	color: red;
	font-size: 20px;
}
